@import "github-markdown-css/github-markdown.css";
@import "highlight.js/styles/github-dark.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-950 text-zinc-100;
}

.markdown-body {
  background-color: transparent;
  color: #e6edf3;
}

.markdown-body pre,
.markdown-body code {
  font-family:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
}
